<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wjm.springbootmybatis.dao.UserMapper">

<select id="getUserInfo" resultType="com.wjm.springbootmybatis.entity.User">
        select city as "city",
        county as "county",
        user_login as "userLogin",
        user_pass as "userPass",
        user_nickname as "userNickname",
        mobile as "mobile"
        from s_user
    </select>
</mapper>